*.log
.DS_Store

node_modules
/build

.vscode
.yalc
yalc.lock

key.json
size-plugin.json

coverage

cypress/screenshots
cypress/videos

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
